body {

}

#board {
  line-height: 0px;
  font-size: 0px;
}

.box {
  display: inline-block;
  height: 300px;
  width: 300px;
  border: 3px solid black;
}

.top-row{
  border-top: none;
}

.left-column{
  border-left: none;
}

.right-column{
  border-right: none;
}

.bottom-row{
  border-bottom: none;
}
